<div>
  <div class="picking-wrapper">
    <h2 class="title">Đơn hàng</h2>

    <div class="summary-cards">
      <div class="card new">
        <h3>Mới</h3>
        <div class="count">11</div>
        <div class="total">(18)</div>
      </div>
      <div class="card ready">
        <h3>Sẵn sàng lấy hàng</h3>
        <div class="count">5</div>
        <div class="total">(9)</div>
      </div>
      <div class="card processing">
        <h3>Đang lấy hàng</h3>
        <div class="count">0</div>
        <div class="total">(0)</div>
      </div>
      <div class="card done">
        <h3>Đã lấy hàng (Trong ngày)</h3>
        <div class="count">0</div>
        <div class="total">(0)</div>
      </div>
    </div>

    <table class="status-table">
      <thead>
        <tr>
          <th></th>
          <th>Mới</th>
          <th>Sẵn sàng lấy hàng</th>
          <th>Đang lấy hàng</th>
          <th>Đã lấy hàng (Trong ngày)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bình thường</td>
          <td>11 (18)</td>
          <td>5 (9)</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="picking-wrappers">
    <h2 class="title">Danh sách đơn hàng</h2>
    <div class="summary-cards">
      <div class="card ready">
        <h3>Sẵn sàng lấy hàng</h3>
        <div class="count">5</div>
        <div class="total">(9)</div>
      </div>
      <div class="card processing">
        <h3>Đang lấy hàng</h3>
        <div class="count">0</div>
        <div class="total">(0)</div>
      </div>
      <div class="card done">
        <h3>Đã lấy hàng (Trong ngày)</h3>
        <div class="count">0</div>
        <div class="total">(0)</div>
      </div>
    </div>
  </div>
  <div class="picking-wrappers">
    <input class="input" type="text" placeholder="Tìm theo mã nhân viên" />
    <table class="status-table">
      <thead>
        <tr>
          <th></th>
          <th>Sẵn sàng lấy hàng</th>
          <th>Đang lấy hàng</th>
          <th>Đã lấy hàng (Trong ngày)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>dung.tv - dung.tv</td>
          <td>2 (8)</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>ops - Ops</td>
          <td>11 (18)</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
