<div class="container">
  <div class="summary-cards">
    <div class="card green">
      <div class="number-group">
        <div class="number">22</div>
        <div class="sub-number">35</div>
      </div>
      <div class="label">Đơn hàng</div>
    </div>

    <div class="card orange">
      <div class="number-group">
        <div class="number">0</div>
        <div class="sub-number">0</div>
      </div>
      <div class="label">Đơn hàng trễ</div>
    </div>

    <div class="card blue">
      <div class="number-group">
        <div class="number">7</div>
        <div class="sub-number">639</div>
      </div>
      <div class="label">Đơn nhập</div>
    </div>
  </div>

  <div class="details">
    <div class="box">
      <h3>Đơn hàng</h3>
      <ul>
        <li>Mới <span>11 (18)</span></li>
        <li>Chờ <span>0</span></li>
        <li>Chờ xác định vị trí <span>0</span></li>
        <li>Xác định vị trí một phần <span>0</span></li>
        <li>Sẵn sàng lấy hàng <span>5 (9)</span></li>
        <li>Đang lấy hàng <span>0</span></li>
        <li>Đã lấy hàng <span>3 (3)</span></li>
        <li>Đang đóng gói <span>1 (2)</span></li>
        <li>Đã đóng gói <span>0</span></li>
        <li>Sẵn sàng giao hàng <span>2 (3)</span></li>
        <li>Đang giao <span>0</span></li>
        <li>Đã giao <span>0</span></li>
      </ul>
    </div>

    <div class="box">
      <h3>Đơn nhập</h3>
      <ul>
        <li>Mới <span>437</span></li>
        <li>Đã nhận <span>0</span></li>
        <li>Chờ lưu kho <span>45</span></li>
        <li>Đang lưu kho <span>1</span></li>
        <li>Đã lưu kho <span>0</span></li>
      </ul>
    </div>

    <div class="box">
      <h3>Chuyển kho</h3>
      <ul>
        <li>Mới <span>0</span></li>
        <li>Đang xử lý <span>0</span></li>
      </ul>
    </div>
  </div>
  <button (click)="logout()">Đăng xuất</button>
</div>
