/* You can add global styles to this file, and also import other style files */
/* Đảm bảo Nebular theme được nạp */
@import '@nebular/theme/styles/prebuilt/default.css';

/* Font và reset cơ bản */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}